* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dashed blue; */
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY CLASS */
.space {
    margin-bottom: 9rem;
}

.blue-button {
    background-color: blue;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    border: none;
    width: fit-content;
}

.blue-button:hover {
    background-color: rgb(0, 119, 255);
}

.empty {
    height: 1rem;
    width: 100%;
}

/* HEADER */
.header-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.list-logo,
.list-start {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.list-logo a,
.list-start a {
    text-decoration: none;
}

.list-logo li,
.list-start li {
    height: 100%;
    display: flex;
    align-items: center;
}

.hover-underline:hover {
    border-bottom: 2px solid black;
}

.list-logo li a, .list-start li a{
    color: black;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* HERO */
.hero {
    width: 100%;
    height: 680px;
    background-color: rgb(178, 207, 230);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.hero-container {
    width: 60%;
    height: 100%;
}

.hero-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
}

.hero-container h1 {
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
}

.hero-text-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.arrow-down-button {
    width: 3rem;
    height: 3rem;
    background-color: rgb(178, 207, 230);
    margin-top: 1rem;
    border: none;
    font-size: 3rem;
}

.arrow-down-button img {
    width: 100%;
    height: 100%;
}

.hero-img-box {
    width: 70%;
    height: 100%;
}

.hero-img-box img {
    width: 100%;
}

.arrow-down-button:hover{
    color: blue;
}


/* MAIN */
.main-small {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* business-plan */
.business-plan {
    width: 100%;
    height: 75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.business-plan i {
    margin-right: 4px;
}

.business-boxes {
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 30px;
}

.title-business,
.enterprise-contact-wrapper {
    width: 100%;
    height: 15rem;
    display: inline-block;
}

.title-business {
    padding: 2rem 0;
}

.title-business h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.title-business #fatt-annuale {
    margin-left: 3rem;
}

.user-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(188, 186, 186);
}

.professional-box,
.advanced-box,
.enterprise-box {
    width: calc((100% / 3) - 20px);
    height: 100%;
    display: inline-block;
    border: 1px solid rgb(188, 186, 186);
}

.list-box {
    padding: 2rem;
}

.list-box h3,
.list-box div,
.list-box hr,
.list-box h4,
.list-box li {
    margin-bottom: 1rem;
}

.list-box button {
    margin-bottom: 2rem;
}

.list-box li {
    display: flex;
    align-items: flex-start;
}

.list-box li i {
    margin-top: 2px;
}

.list-box ul,
.month {
    margin-bottom: 3rem;
    list-style-type: none;
}
.month {
    color: rgb(188, 186, 186);
}
.list-box hr {
    margin: 3rem 0 3rem;
    width: 30%;
}

.list-box button {
    width: 100%;
    padding: 1rem 0;
}

.enterprise-contact-wrapper {
    border: 1px solid rgb(188, 186, 186);
}

.enterprise-contact-box {
    display: flex;
    padding: 1rem;
}

#enterprise-text {
    height: 100%;
    width: 70%;
}

#enterprise-text div {
    margin-top: 1rem;
}

#enterprise-text p {
    margin-top: 2rem;
}

#enterprise-button {
    height: 100%;
    width: 30%;
    text-align: center;
}

#enterprise-button .blue-button {
    width: 100%;
}


/* partner */
.partner {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.img-2-box {
    width: 60%;
    height: 100%;
}

.img-2-box img {
    width: 100%;
    height: 100%;
}

.found-partner-box {
    width: 40%;
    height: 100%;
    padding: 2rem;
}

.found-partner-box button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.found-partner-box p {
    margin-top: 1rem;
}


/* operations */
.operations {
    width: 100%;
    height: 80rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.operations img {
    width: 100%;
}

.operations-box-title {
    width: 100%;
    height: 4rem;
    /* padding-top: 2rem; */
}

.operations-box-title h2 {
    font-size: 2rem;
}

.operations-box {
    width: calc((100% / 3) - (2rem / 3));
    height: 32rem;
}

.operations-box h2 {
    margin-bottom: 2rem;
}



/* team */
.team {
    width: 100%;
    height: 12rem;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}


/* company */
.company {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.company-box {
    width: calc(100% / 3);
    height: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.company-mini-box {
    width: 50%;
    height: 50%;
}

.company-mini-box img {
    width: 100%;
    height: 100%;
    padding: 30%;
    filter: invert(1);
}

.asu img {
    padding: 25%;
}

.uof img {
    padding: 35% 20%;
}

.clch img {
    padding: 27%;
}

.desi {
    background-color: rgb(76, 197, 76);
    border: 10px solid rgb(129, 211, 129);
}

.asu {
    background-color: brown;
}

.uof {
    background-color: dodgerblue;
}

.topp {
    background-color: red;
}

.wbr {
    background-color: crimson;
}

.corp {
    background-color: lightskyblue;
}

.lon {
    background-color: blue;
}

.clch {
    background-color: gold;
}

.center {
    display: block;
    padding: 2rem;
    background-color: rgb(233, 225, 225);
    overflow-y: auto;
}

.center img {
    width: 40%;
}

.center hr {
    width: 17%;
}

.center img,
.center hr,
.center p {
    margin-bottom: 2rem;
}

.company-box-large {
    width: 100%;
    height: 35%;
    background-color: rgb(117, 173, 222);
    display: flex;
    justify-content: center;
}

.company-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.company-wrapper h2 {
    margin-right: 4rem;
    font-size: 2rem;
    color: rgb(125, 10, 33);
    position: absolute;
    bottom: 40%;
    left: 5%;
}

.company-wrapper button {
    height: fit-content;
    padding: 0.75rem 3rem;
    position: absolute;
    bottom: 50%;
    right: 5%;
    border: none;
}

.company-wrapper button:hover {
    background-color: rgb(202, 202, 202);
}

/* questions */
.questions {
    width: 100%;
    height: 25rem;
}

.questions h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.question {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.question-up {
    border-top: 1px solid rgb(188, 186, 186);
    border-bottom: 1px solid rgb(188, 186, 186);
}


.question-down {
    border-top: 1px solid rgb(188, 186, 186);
    border-bottom: 1px solid rgb(188, 186, 186);
}


/* FOOTER */
.footer-container {
    /* background-color: black; */
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    padding-top: 3rem;
}

.end {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.end-list {
    width: 20%;
    height: 30rem;
    color: white;
}

.end-list h3 {
    margin: 2rem 0;
}

.end-list li {
    list-style: none;
    padding: 0.5rem 0;
}

.lenguage {
    position: absolute;
    width: 7rem;
    height: 7rem;
    bottom: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(188, 186, 186);
    color: rgb(188, 186, 186);
}

.fa-earth-europe{
    margin-right: 8px;
}

.fa-caret-up{
    margin-left: 4px;
    margin-top: 2px;
}