* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dashed blue; */
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY CLASS */
.space {
    margin-bottom: 9rem;
}

.blue-button {
    background-color: blue;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    border: none;
    width: fit-content;
}

.blue-button:hover {
    background-color: rgb(0, 119, 255);
}

.empty {
    height: 1rem;
    width: 100%;
}

/* HEADER */
.header-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.list-logo,
.list-start {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.list-logo a,
.list-start a {
    text-decoration: none;
}

.list-logo li,
.list-start li {
    height: 100%;
    display: flex;
    align-items: center;
}

.hover-underline:hover {
    border-bottom: 2px solid black;
}


/* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* HERO */
.hero {
    width: 100%;
    height: 680px;
    background-color: rgb(178, 207, 230);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.hero-container {
    width: 60%;
    height: 100%;
}

.hero-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
}

.hero-container h1 {
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
}

.hero-text-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.arrow-down-button {
    width: 3rem;
    height: 3rem;
    background-color: rgb(178, 207, 230);
    margin-top: 1rem;
    border: none;
}

.arrow-down-button img {
    width: 100%;
    height: 100%;
}

.hero-img-box {
    width: 70%;
    height: 100%;
}

.hero-img-box img {
    width: 100%;
}



/* MAIN */
.main-small {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* business-plan */
.business-plan {
    width: 100%;
    height: 75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.business-boxes {
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.title-business,
.enterprise-contact-wrapper {
    width: 100%;
    height: 15rem;
    display: inline-block;
}

.title-business {
    padding: 2rem 0;
}

.title-business h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.title-business #fatt-annuale {
    margin-left: 3rem;
}


.professional-box,
.advanced-box,
.enterprise-box {
    width: 30%;
    height: 100%;
    display: inline-block;
    border: 1px solid rgb(188, 186, 186);
}

.professional-box,
.advanced-box {
    margin-right: 47px;
}

.user-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(188, 186, 186);
}

.solid-img {
    width: 1rem;
    height: 1rem;
    margin-right: 3px;
}

.list-box {
    padding: 1rem;
}

.business-list {
    list-style-type: none;
    ;
}

.business-list li {
    margin-bottom: 1rem;
}

.logo-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-and-text-long {
    display: flex;
    flex-direction: row;
}

.logo-and-text-long img {
    margin-top: 3px;
}

.business-list hr {
    width: 30%;
}

.business-list .blue-button {
    width: 100%;
    padding: 1rem;
}

.enterprise-contact-wrapper {
    border: 1px solid rgb(188, 186, 186);
}

.enterprise-contact-box {
    display: flex;
    padding: 1rem;
}

#enterprise-text {
    height: 100%;
    width: 70%;
}

#enterprise-text div {
    margin-top: 1rem;
}

#enterprise-text p {
    margin-top: 2rem;
}

#enterprise-button {
    height: 100%;
    width: 30%;
    text-align: center;
}

#enterprise-button .blue-button {
    width: 100%;
}


/* partner */
.partner {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.img-2-box {
    width: 60%;
    height: 100%;
}

.img-2-box img {
    width: 100%;
    height: 100%;
}

.found-partner-box {
    width: 40%;
    height: 100%;
    padding: 2rem;
}

.found-partner-box button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.found-partner-box p {
    margin-top: 1rem;
}























/* operations */
.operations {
    width: 100%;
    height: 66rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.operations-box-title {
    width: 100%;
    height: 6rem;
    background-color: crimson;
}

.operations-box {
    width: calc(100% / 3);
    height: 30rem;
    background-color: yellow;
}



















/* team */
.team {
    width: 100%;
    height: 15rem;
    background-color: violet;
}

/* section width:100% */
/* company */
.company {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.company-box {
    width: calc(100% / 3);
    height: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: chocolate;
}

.company-mini-box {
    width: 50%;
    height: 50%;
    background-color: chartreuse;
}

.company-box-large {
    width: 100%;
    height: 35%;
    background-color: aqua;
}

/* section width:70% */
.questions {
    width: 100%;
    height: 25rem;
    background-color: darkorange;
}

/* FOOTER */
.footer-container {
    /* background-color: black; */
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.end {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.end-list {
    width: 20%;
    height: 30rem;
    background-color: lightsalmon;
}

.lenguage {
    position: absolute;
    width: 7rem;
    height: 7rem;
    bottom: 0%;
    left: 0%;
    background-color: lightseagreen;
}